{% extends "account_template.html" %}

{% block account %}
<div class="mb-3 row">
  <label for="selected_user" class="col-sm-2 col-form-label">Credit</label>
  <div class="col-sm-10">
    <input type="text" class="form-control-plaintext" value="{{ g.user.credit }}" readonly>
  </div>
</div>

<div class="mb-3 row">
  <label for="selected_user" class="col-sm-2 col-form-label">Orders</label>
  <div class="col-sm-10">
    <input type="text" class="form-control-plaintext" value="123" readonly>
  </div>
</div>

{% endblock %}