{% extends "account_template.html" %}

{% block account %}
  <form action="{{ url_for('transfer_credit_user') }}" method="POST">
    <div class="mb-3 row">
      <label for="selected_user" class="col-sm-2 col-form-label">User</label>
      <div class="col-sm-10">
        <select class="form-select" name="selected_user" id="selected_user">
          {% for u in users %}
          <option value="{{ u.id }}">{{ u.username }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="value_select" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
              <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
              <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
            </svg>
          </span>
          <select class="form-select" id="value_select" name="transfer_amount">
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-md-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}