{% extends "admin/admin_template.html" %}

{% block admin_content %}
<ul class="list-group">
  <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-start">
    <div><strong>Username</strong></div>
    <div class="text-muted">Credit</div>
  </li>
  {% for user in users %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div>{{ user.id }}. {{ user.username }}</div>
    <div>{{ user.credit }}</div>
  </li>
  {% endfor %}
</ul>
{% endblock %}