{% extends "account_template.html" %}

{% block account %}

<h2>Admin Panel</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      A list item <span class="badge bg-primary rounded-pill">2</span>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">Left</button>
      <button type="button" class="btn btn-outline-primary">Middle</button>
      <button type="button" class="btn btn-outline-primary">Right</button>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    A second list item
    <span class="badge bg-primary rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    A third list item
    <span class="badge bg-primary rounded-pill">1</span>
  </li>
</ul>
<a href="#" class="btn btn-primary my-3" role="button">Add new</a>

{% endblock %}