{% extends "base_template.html" %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <div class="feature-icon bg-secondary bg-gradient">
        {{ crypto.icon|safe }}
      </div>
      <h2>{{ crypto.name }}</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
        probably just keep going until we run out of words.</p>
    </div>
    <div class="col-6">
      <form action="{{ url_for('confirm') }}">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Price ($)</label>
          <div class="col-sm-9">
            <input id="price_cart" type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ crypto.price }}">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Quantity</label>
          <div class="col-sm-9">
            <select id="quantity_cart" class="form-select" aria-label="Default select example" onchange="update_total(this)">
              {% for x in range(1,20) %}
                {% if x == user.quantity %}
                  <option value="{{ x }}" selected>{{ x }}</option>
                {% else %}
                  <option value="{{ x }}">{{ x }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        {% if user.discount > 0 %}
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Discount (%)</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.discount }}">
          </div>
        </div>
        {% endif %}

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Total ($)</label>
          <div class="col-sm-9">
            <input id="total_cart" type="text" readonly class="form-control-plaintext fw-bold" value="{{ user.price * user.quantity }}">
          </div>
        </div>
        
        <div class="col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-success btn-lg">Place order</button>
        </div>
      </form>
      <hr>
      <form action="{{ url_for('claim_voucher') }}" method="POST">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Voucher</label>
          <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" name="code" autocomplete="off">
                <button class="btn btn-outline-secondary" type="submit">
                  Apply
                </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


{% block script %}
<script>

  qty = document.getElementById("quantity_cart")

  qty.addEventListener("change", function(e) {
    p = document.getElementById("price_cart").value
    document.getElementById("total_cart").value = p * e.target.value;
  });

</script>
{% endblock %}