{% extends "base_template.html" %}

{% block content %}
  <div class="row">
    <div class="col-4">
      <div class="feature-icon bg-secondary bg-gradient">
        {{ crypto.icon|safe }}
      </div>
      <h2>{{ crypto.name }}</h2>
    </div>
    <div class="col-8">
      <form action="{{ url_for('process_cart') }}" method="POST">
        <input type="hidden" name="crypto_id" value="{{ g.user.crypto_id }}">
        <input type="hidden" name="reg_bonus" value="">
        {% if g.user.discount > 0 %}
        <div class="mb-1 row">
          <label for="price_crypto" class="col-sm-4 col-form-label">Normal price</label>
          <div class="col-sm-8">
            <input id="price_crypto" type="text" readonly class="form-control-plaintext" name="price_crypto" value="{{ crypto.price }}">
          </div>
        </div>
        <div class="mb-1 row">
          <label for="cart_discount" class="col-sm-4 col-form-label">Discount (%)</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="cart_discount" name="discount" value="{{ g.user.discount }}">
          </div>
        </div>
        {% endif %}
        <div class="mb-1 row">
          <label for="price_cart" class="col-sm-4 col-form-label">Price</label>
          <div class="col-sm-8">
            <input id="price_cart" type="text" readonly class="form-control-plaintext" name="price" value="{{ g.user.price }}">
          </div>
        </div>
        <hr>
        <div class="mb-1 row">
          <label for="quantity_cart" class="col-sm-4 col-form-label">Quantity</label>
          <div class="col-sm-8">
            <div class="input-group">
              <select class="form-select" id="quantity_cart" name="quantity">
                {% for x in range(1,20) %}
                  {% if x == g.user.quantity %}
                    <option value="{{ x }}" selected>{{ x }}</option>
                  {% else %}
                    <option value="{{ x }}">{{ x }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <button type="submit" class="btn btn-outline-secondary" formaction="{{ url_for('update_cart') }}" formmethod="POST">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>

        

        <div class="mb-3 row">
          <label for="total_cart" class="col-sm-4 col-form-label">Total ($)</label>
          <div class="col-sm-8">
            <input id="total_cart" type="text" name="total" readonly class="form-control-plaintext fw-bold" value="{{ g.user.price * g.user.quantity }}">
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-8 offset-4">
            <div class="input-group">
              <button type="submit" class="btn btn-outline-primary">Place order</button>
              <button type="submit" class="btn btn-outline-danger" formaction="{{ url_for('clear_cart') }}" formmethod="POST">Cancel order</button>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <form action="{{ url_for('claim_voucher') }}" method="POST">
        <div class="mb-3 row">
          <label for="code" class="col-sm-4 col-form-label">Voucher</label>
          <div class="col-sm-8">
            <div class="input-group">
                {% if g.user.discount == 0 %}
                <input type="text" class="form-control" id="code" name="code" autocomplete="off">
                <button class="btn btn-outline-secondary" type="submit">
                  Apply
                </button>
                {% else %}
                <input type="text" class="form-control" id="code" name="code" autocomplete="off" value="{{ g.user.voucher_code }}" disabled>
                <button class="btn btn-outline-secondary" type="submit" disabled>
                  Apply
                </button>
                {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
