{% extends "base_template.html" %}

{% block content %}
<div class="row">
  <div class="col-4">
    <div class="feature-icon bg-secondary bg-gradient">
      {{ crypto.icon | safe }}
    </div>
    <h2>{{ crypto.name }}</h2>
  </div>
  <div class="col-8">
    <form action="{{ url_for('checkout') }}" method="POST">
      <div class="mb-2 row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Amount</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.price }} * {{ user.quantity }}">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Subtotal</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.price * user.quantity }}">
        </div>
      </div>
      <hr>
      {% if user.discount > 0 %}
      <div class="mb-2 row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Discount</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.discount }} %">
        </div>
      </div>
      {% endif %}
      {% if user.reg_bonus %}
      <div class="mb-2 row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Registration bonus</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="10 %">
        </div>
      </div>
      {% endif %}
      <div class="mb-2 row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Total</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext fw-bold" value="{{ t }}">
        </div>
      </div>
      <hr>
      <div class="text-end">
          <button type="submit" class="btn btn-primary btn-lg">Checkout!</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}